name: github_action_test

on:
  push:
    branches: [ "test" ]

jobs:

  myci:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./
    steps:
    - uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.19'

    - name: Build
      run: go build -v ./...

    - name: test for env and shell
      run: |
        echo "qwq"
        chmod +x 1.sh
        ./1.sh
        expr 1 + 1 > output.log
    - name: opload files
      uses: actions/upload-artifact@v3
      with:
        name: output-log-file
        path: output.log
  qaq:
    needs: myci
    runs-on: ubantu-latest
    steps:
      - name: download files
        uses: actions/download-artifact@v3
        with:
          name: output-log-file
      - name: cat file
        shell: bash
        run: cat output.log
      
        
